<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    
    {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/kitchen.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h2 class="mb-2 bread">Blog</h2>

          </div>
        </div>
      </div>
    </section>
	
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  
                </div>
                <h3 class="heading"><a href="#">“We welcome your appetite. Let our food satisfy your stomach.”</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 2</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/kitchen.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                 
                  
                </div>
                <h3 class="heading"><a href="#">The Gathering Place Good Food, Good Friends, Good Company.</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 4</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  
                  
                </div>
                <h3 class="heading"><a href="#">“Food is for eating, and good food is to be enjoyed… I think food is, actually, very beautiful in itself.”</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 2</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/dinner.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  
                  
                </div>
                <h3 class="heading"><a href="#">Worthless People Live Only To Eat And Drink, People Of Worth Eat And Drink Only To Live. Socrates</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_5.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  
                  
                </div>
                <h3 class="heading"><a href="#">“Every time you use the word ‘healthy,’ you lose. The key is to make yummy, delicious food that happens to be healthy.”</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 1</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_6.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                 
                </div>
                <h3 class="heading"><a href="#">“Joy can only be real if people look upon their life as a service and have a definite object in life outside themselves and their personal happiness.”</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 5</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
			</div>
		</section>


    {{>footer}}     
    {{>scripts}}
    
  </body>
</html>