<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    
    {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/cookies.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Menu Specials</h1>
          </div>
        </div>
      </div>
    </section>
	



    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">SPECIALS</span>
            <h2 class="mb-4">Our Menu</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3 style="text-decoration: overline ;">Breakfast</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/tea-breakfast.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Tea</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.100</span>
	                </div>
	              </div>
	             <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/top-6-breakfast.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Top Breakfast Meals Combo</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.296</span>
	                </div>
	              </div>
	              <p><span>Chapati</span>, <span>Pancakes</span>, <span>fried eggs</span></p>
            </div>
			</div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/banana-egg-breakfast.jpeg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>egg, banana, tea</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.99</span>
	                </div>
	              </div>
	             
              </div>
            </div>
        	</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3 style="text-decoration: overline ;">Lunch</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/ugali&meatstew.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Ugali with Beef-stew</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.100</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes , tomatoes</span>, <span>Ugali</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/mukimo.png);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Mukimo</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.80</span>
	                </div>
	              </div>
	              <p><span>Meat, potatoes, kales, carrots</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/lunch-6.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled meat</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.120</span>
	                </div>
	              </div>
	              <p><span>Meat, potatoes, tomatoes, greens</span></p>
              </div>
            </div>
        	</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3 style="text-decoration: overline ;">Dinner</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Beef with potatoes</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.200</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Crab with Onion</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.250</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled fish </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.230</span>
	                </div>
	              </div>
	              
              </div>
            </div>
        	</div>

        	<!--  -->
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3 style="text-decoration: overline ;">Desserts</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dessert-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Burger</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.200</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dessert-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Milk shakes</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.250</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dessert-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Cake</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.199</span>
	                </div>
	              </div>
	              
              </div>
            </div>
        	</div>
        	
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3 style="text-decoration: overline ;">Wines</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/wine-glass.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Red-Wine</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.1099</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/wine_mancino.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Mancino-wine</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.1200</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/mix-wines.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Exclusive Wine  Brands</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">each Ksh.2900</span>
	                </div>
	              </div>
	              
              </div>
            </div>
        	</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3 style="text-decoration: overline ;">Soft Drinks </h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/pepsi.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>soft drinks brand</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.70</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/coca-cola.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Bottled drinks</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.55</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/lemon.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>carbonated drinks</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">Ksh.85</span>
	                </div>
	              </div>
	              
              </div>
            </div>
        	</div>
        </div>
        <div class="row">
        	<!--<div class="col-md-12 text-center ftco-animate">
        		<p><a href="#" class="btn btn-black py-3 px-5">View All Menu</a></p>
        	</div> // view menu button.--> 
        </div>
    	</div>

    </section>

 
   


    {{>footer}}
    {{>scripts}}
    
  </body>
</html>